Source: cosmic-webapps
Section: utils
Priority: optional
Maintainer: Michael Aaron Murphy <michael@mmurphy.dev>
Build-Depends:
    cargo,
    debhelper-compat (=13),
    git,
    just,
    libxkbcommon-dev,
    libssl-dev,
    pkgconf | pkg-config,
    rustc
Standards-Version: 4.6.2
Homepage: https://github.com/pop-os/cosmic-webapps

Package: cosmic-webapps
Architecture: amd64 arm64
Depends:
    ${misc:Depends},
    ${shlibs:Depends}
Description: Web App Manager for Cosmic desktop
 Allow you to simply create web applications from given url working inside separate window of your browser of choice.
